# Dependencies
node_modules/
package-lock.json

# Environment Variables & Secrets
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# OS & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj

# Build & Temporary directories
dist/
build/
coverage/
tmp/
temp/
scratch/
